<section class="section">
    <div class="container">
    <h1>Чому я навчусь у школі розумного читання</h1>
    <ul>
        <li>
        <div><svg class="icon" width="70" height="70">
            <use href="./images/symbol-defs.svg#icon-icon-music"></use>
        </svg></div>
        <p>Використовувати інтонації, робити голос сильним
        та оксамитовим</p></li>
    <li>
        <div><svg class="icon" width="70" height="70">
                <use href="./images/symbol-defs.svg#icon-icon-dialog"></use>
            </svg></div>
        <p>Говорити легко виразно
        і переконливо</p>
    </li>
        <li>
            <div><svg class="icon" width="70" height="70">
                    <use href="./images/symbol-defs.svg#icon-icon-read"></use>
                </svg></div>
            <p>Опрацьовувати велику кількість матеріалу
            за невеликий проміжок часу</p>
        </li>
        <li>
            <div><svg class="icon" width="70" height="70">
                    <use href="./images/symbol-defs.svg#icon-icon-brain"></use>
                </svg></div>
            <p>Навчиться аналізувати прочитанний текст, робити узагальнення, висновки</p>
        </li>
    </ul>
    </div>
</section>