<section class="section container">
    <div class="about-container">
        <div class="about-img--wrap">
            <div><img class="about-img" src="./images/about/about-1.png" /></div>
            
            <div class="about-img--two">
            <img class="about-img" src="./images/about/about-2.png" />
            <img class="about-img" src="./images/about/about-3.png" />
            </div>
        </div>
<div>
        <h2>Що таке школа розумного читання?</h2>
        <p>Якщо твій Супергерой або Супергеройка повільно читає, має проблеми з розумінням текстів, тоді приєднуйся до мого
        авторького курсу.
</p>

<p>Ми разом будемо ломати стереотипи старої школи, ніяких #мамамилараму, тільки #абабагаламага :)
</p>
<h3>Пропоную:</h3>
<ul>
    <li>Дружба замість занять.</li>
    <li>Читання без нудьги, найкращі та найсучасніші тексти.</li>
    <li>Цікаві #квестичеленджі.</li>
    <li>Вміння аргументовано сперечатися(дебати).</li>
</ul></div>
    </div>

</section>