<section class="section">
    <div class="container">
        <h1>Наші курси</h1>
        <ul>
            <li><button type="button">
                <p>5-7 років</p>
                <img class="cours-img" src="./images/courses/5-7.png" width="112" height="100" />
            </button></li>
            <li><button type="button">
                <p>8-10 років</p>
                <img class="cours-img" src="./images/courses/8-10.png" width="112" height="100"/>
            </button></li>
            <li><button type="button">
                <p>11-12 років</p>
                <img class="cours-img" src="./images/courses/10-12.png" width="112" height="100"/>
            </button></li>
            <li><button type="button">
                <p>Читацький клуб</p>
                <img class="cours-img" src="./images/courses/read-club.png" width="112" height="100"/>
            </button></li>
        </ul>
    </div>
</section>